name: terraform-ci

on:
  pull_request:
  push:
    branches: ["main", "master"]

permissions:
  contents: read

jobs:
  lint-validate:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        envdir: [envs/dev, envs/prod]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.6.6"
          terraform_wrapper: false

      - name: Terraform fmt (repo)
        run: terraform fmt -check -recursive

      - name: Terraform init (no backend)
        working-directory: ${{ matrix.envdir }}
        run: terraform init -backend=false #So CI can validate without needing any remote backend setup or AWS state

      - name: Terraform validate
        working-directory: ${{ matrix.envdir }}
        run: terraform validate

      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@v4
        with:
          tflint_version: v0.53.0

      - name: TFLint init
        run: tflint --init

      - name: TFLint
        run: tflint -f compact
